@model WorldTravelBlog.Models.Person

@{
    ViewData["Title"] = "Person - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person Details</h2>
<hr/>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Experience.Description) : @Html.DisplayFor(model => model.Experience.Description)</p>
<p>@Html.DisplayNameFor(model => model.Location.City) : @Html.DisplayFor(model => model.Location.City)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) | @Html.ActionLink("Back to List", "Index")</p>